@media screen and (max-width: 600px) {
    #encabezado {
        display: grid;
        grid-template-columns: 10% 70% 100px;
        grid-template-areas: 'logo nombre';
        border: 1px solid black;
    }
}

@media screen and (min-width:601px) {
    #encabezado {
        display: grid;
        grid-template-columns: 10% 70% 100px;
        grid-template-areas: 'logo nombre boton';
        border: 1px solid black;
    }
}
@media screen and (min-width:1024px) {
    #encabezado {
        display: grid;
        grid-template-columns: 7% 85% 100px;
        grid-template-areas: 'logo nombre boton';
        border: 1px solid black;
    }
}


header>h1 {
    grid-area: nombre;
}

#logoGenerico {
    margin: 12px;
    margin-top: 13px;
    grid-area: logo;
}

#lateral {
    border: 1px solid black;
    width: 100px;
    height: 500px;
    float: left;
}

h3 {
    text-align: center;
    color: rgb(4, 66, 66);
}

h3:hover {
    background-color: rgb(126, 231, 231);
}

input {
    margin-top: 5px;
}

button {
    margin-top: 5px;
}
#cerrar{
    height: 40px;
}